<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blogpost</title>

  <!-- Bootstrap -->

  
  <link href="css/estilo.css" rel="stylesheet">
  <link href="css/barraCentral.css" rel="stylesheet">
  <link href="css/footer-navbar.css" rel="stylesheet">
  
</head>

</head>

<body>

  <header>     
    <nav class="navbar navbar-expand navbar-dark navbar-fixed-top navbar-inverse navbar-transparente">
      <a href="/post" class="navbar-brand">
        
      </a>
    </nav>
  </header>

  <main role="main" class="container">
    <!-- capa -->
    <div class="capa">

      <div class="texto-capa">

        <img class="img-fluid" >

        <div>
          <h1>Blog post</h1>
          <a href="/posts" class="btn btn-customizado btn-rosa btn-lg">Ordem dos posts</a>
          <br/>
          
        </div>


      </div>

    </div>

    <!-- Conteudo Sobre -->
    <section class="sobre">
      <div class="container">
        <div class="row">
          <!--Sobre-->
          <div class="col-md-6 col-xs-12">
            <h2 id="conteudo"> Sobre </h2>
            <p>
            </p>
          </div>

          <!--frase-->
          <div class="col-md-6 col-xs-12">
            <h3>

            </h3>
          </div>

        </div>
      </div>
    </section>

  </main>
  <!-- Rodape-->

  <footer class="footer">
    <div class="container">
      <span  class="text-muted">Copyright &copy; 2022</span>
    </div>
  </footer>




  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bootstrap/js/bootstrap.min.js"></script>



</body>

</html>